<div class="footer">
    <div class="col-12 col-md-6">
        <h1 class="app-name">Sit<span>tap</span></h1>
        <p>Made by Ouitechnology SAS</p>
        <p style="margin-bottom: 32px;">229, rue st honré, 75001 Paris</p>
        <p>Incubated at station F</p>
        <p>5, Parvis Alain Turain, 75013 PARIS</p>
    </div>
    <div class="col-12 col-md-6 flex-wrap d-flex">
        <div class="resources">
            <h1>Resources</h1>
            <ul>
                <li>Pricing</li>
                <li>Feature</li>
                <li>Modules</li>
                <li>About Us</li>
                <li>Blog</li>
                <li>Terms of condition</li>
                <li>Privacy policy</li>
                <li>FAQ</li>
            </ul>
        </div>
        <div class="contact">
            <h1>Contact</h1>
            <div class="contact-info">
                <img src="./../../../assets/icons/solar_letter-linear.png" alt="Contact Icon">
                <p class="m-0">servicessittap.com</p>
            </div>
            <div class="contact-info">
                <img src="./../../../assets/icons/Vector.png" alt="Contact Icon">
                <p class="m-0">+33 6 72 85 50 41</p>
            </div>
        </div>
        <div class="social">
            <h1>Follow us</h1>
            <div class="icons d-flex">
                <div class="social-icon">
                    <img src="./../../../assets/icons/Social Icons.png" alt="Contact Icon">
                </div>
                <div class="social-icon">
                    <img src="./../../../assets/icons/instagram.png" alt="Contact Icon">
                </div>
                <div class="social-icon">
                    <img src="./../../../assets/icons/Youtube.png" alt="Contact Icon">
                </div>
            </div>

        </div>
    </div>
</div>
