<div class="page-wrap">
    <nav class="header_nav">

        <div class="header__block">
            <div class="header_logo">
                <a class="logo" routerLink="/">
                    <h1>Sit<span>tap</span></h1>
                </a>
            </div>

            <a class="header_menu-toggle" href="#0"><span>Menu</span></a>
        </div>

        <ul class="header__menu-links">

            <li class="current"><a routerLink="/">Modules</a></li>
            <li><a routerLink="/about">Functionnalites</a></li>
            <li><a routerLink="/service">Prix</a></li>
            <li><a routerLink="/blog">Plus</a></li>
            <li>
                <a>
                    <img src="../../../assets/emojione_flag-for-france.png" />
                </a>
            </li>

            <div class="header_button">
                <button type="button" class="btn me-2">Login</button>
                <button type="button" class="btn btn-warning">Get Demo</button>
            </div>

        </ul>
    
    </nav>
</div>