<!-- solution section -->
<section class="solution-section d-flex">
    <div class="left-side col-lg-5">
        <p class="solution-text">Des solution</p>
        <p class="f40">a vos problemes</p>

        <button class="solution-btn ">Découvrir dès maintenant</button>
    </div> 
    <div class="col-lg-7 solution-wrapper mt-3">
        <div class="right-side col">
            <div class="left">
                <div class="icon-left">
                    <img src="../../../assets/icons/State3.png">
                </div>
                <p>Deliverables eco-system walk pulling assassin say dogpile. Down first-order wheel functional weaponize close eod keywords so.</p>
            </div>
            <div class="right">
                <p>Deliverables eco-system walk pulling assassin say dogpile. Down first-order wheel functional weaponize close eod keywords so.</p>
                <div class="icon-right"><img src="../../../assets/icons/Group.png"></div>
            </div>
        </div>

        <div class="right-side col">
            <div class="left">
                <div class="icon-left">
                    <img src="../../../assets/icons/State3.png">
                </div>
                <p>Deliverables eco-system walk pulling assassin say dogpile. Down first-order wheel functional weaponize close eod keywords so.</p>
            </div>
            <div class="right">
                <p>Deliverables eco-system walk pulling assassin say dogpile. Down first-order wheel functional weaponize close eod keywords so.</p>
                <div class="icon-right"><img src="../../../assets/icons/Group.png"></div>
            </div>
        </div>
        <div class="right-side col">
            <div class="left">
                <div class="icon-left">
                    <img src="../../../assets/icons/State3.png">
                </div>
                <p>Deliverables eco-system walk pulling assassin say dogpile. Down first-order wheel functional weaponize close eod keywords so.</p>
            </div>
            <div class="right">
                <p>Deliverables eco-system walk pulling assassin say dogpile. Down first-order wheel functional weaponize close eod keywords so.</p>
                <div class="icon-right"><img src="../../../assets/icons/Group.png"></div>
            </div>
        </div>
        <div class="right-side col">
            <div class="left">
                <div class="icon-left">
                    <img src="../../../assets/icons/State3.png">
                </div>
                <p>Deliverables eco-system walk pulling assassin say dogpile. Down first-order wheel functional weaponize close eod keywords so.</p>
            </div>
            <div class="right">
                <p>Deliverables eco-system walk pulling assassin say dogpile. Down first-order wheel functional weaponize close eod keywords so.</p>
                <div class="icon-right"><img src="../../../assets/icons/Group.png"></div>
            </div>
        </div>
        <div class="right-side col">
            <div class="left">
                <div class="icon-left">
                    <img src="../../../assets/icons/State3.png">
                </div>
                <p>Deliverables eco-system walk pulling assassin say dogpile. Down first-order wheel functional weaponize close eod keywords so.</p>
            </div>
            <div class="right">
                <p>Deliverables eco-system walk pulling assassin say dogpile. Down first-order wheel functional weaponize close eod keywords so.</p>
                <div class="icon-right"><img src="../../../assets/icons/Group.png"></div>
            </div>
        </div>
    </div>


</section>


<!-- Frequently Asked questions -->

<section class="question-section">
    <h1 class="margin-bottom">Frequently asked questions</h1>
    <div class="row">
        <div class="question-box-left col-md-6">
            <div class="question">
                <p>A very long Frequently asked question <br> that we decide to add to the website</p>
                <span> <img src="../../../assets/icons/Icon.png" alt=""></span>
            </div>
            <div class="question">
                <p>A very long Frequently asked question <br> that we decide to add to the website</p>
                <span> <img src="../../../assets/icons/Icon.png" alt=""></span>
            </div>
            <div class="question">
                <p>A very long Frequently asked question <br> that we decide to add to the website</p>
                <span> <img src="../../../assets/icons/Icon.png" alt=""></span>
            </div>
            <div class="question">
                <p>A very long Frequently asked question <br> that we decide to add to the website</p>
                <span> <img src="../../../assets/icons/Icon.png" alt=""></span>
            </div>

        </div>
        <div class="question-box-right col-md-6">
            <div class="question">
                <p>A very long Frequently asked question <br> that we decide to add to the website</p>
                <span> <img src="../../../assets/icons/Icon.png" alt=""></span>
            </div>
            <div class="question">
                <p>A very long Frequently asked question <br> that we decide to add to the website</p>
                <span> <img src="../../../assets/icons/Icon.png" alt=""></span>
            </div>
            <div class="question">
                <p>A very long Frequently asked question <br> that we decide to add to the website</p>
                <span> <img src="../../../assets/icons/Icon.png" alt=""></span>
            </div>
            <div class="question">
                <p>A very long Frequently asked question <br> that we decide to add to the website</p>
                <span> <img src="../../../assets/icons/Icon.png" alt=""></span>
            </div>
        </div>
    </div>
</section>




<!-- Get a Demo -->
<section class="demo-section">
    <div class="demo">

        <p>See what automation can do </p>
            <p> for your business</p>
        <div class="vecto-left">
            <img src="../../../assets/vectorleft.png" class="img-height" alt="" >
        </div>
        <div class="vecto-right">
            <img src="../../../assets/vectorRight.png" class="img-height" alt="">
        </div>
        <button>
            Get a Demo
        </button>
    </div>
</section>
