.demo-section {
    padding: 56px 120px 0px 120px; 
}

.demo {
    height: 378px;
    background-color: #FACA2C;
    border-radius: 16px;
    margin-bottom: 180px;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
        font-size: 20px
    }

    .vecto-left {
        left: 3px;
        bottom: 7px;
        position:absolute;

    }

    .vecto-right {
        position:absolute;
        right: 3px;
        bottom: 7px;

    }

    button {
        height: 48px;
        width: 157px;
        background-color: #131417;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 8px;
    }
}

.img-height {
    height: 300px;
}

.question-section,.solution-section {
    padding: 56px 120px 124px 120px;
}

.solution-section {
    display: flex;
    flex-wrap: wrap;
}

.question {
    background-color: #F6F5F5;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
    p {
        margin: 0;
    }
}

.margin-bottom {
    margin-bottom: 96px;
}

.solution-text {
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: #FACA2C;
}

.f40 {
    font-size: 40px;
}

.solution-btn {
    width: 269px;
    background-color: #131417;
    color: #F6F5F5;
    height: 48px;
    border-radius: 8px;
}

.right-side {
    display: flex;
}

.icon-left {

    background-color: #F6F5F5;
    padding: 40px 20px 40px 20px;
    
    img {
        object-fit: contain;
    }
}

.left {
    border: 1px solid #D9D9D9;
    height: fit-content;
    display: flex;
    border-right: 0px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    min-height: 104px;

    p {
        padding-left: 10px;
        font-size: 16px;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.right {
    border: 1px solid #FACA2C;
    display: flex;
    height: fit-content;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    min-height: 104px;

    p {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 16px;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.icon-right {
    padding: 40px 20px 40px 20px;
    background-color: #FACA2C;
    border-radius: 3px;

   

    img {
        object-fit: contain;
    }
}

.solution-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 768px) {
    .demo-section, .question-section, .solution-section {
        padding: 10px 30px;
    }

    .demo {
        p {
            font-size: 30px
        }
    }

    .img-height {
        height: 120px;
    }

    .left {

        p {

            font-size: 10px;
        }
    }

    .right {

        p {

            font-size: 10px;
        }
    }
}

@media (min-width: 992px) {
    .demo {
        p {
            font-size: 40px
        }
    }

    .img-height {
        height: 180px;
    }

    .left {

        p {

            font-size: 12px;
        }
    }

    .right {

        p {

            font-size: 12px;
        }
    }
}

// Desktop
@media (min-width: 1200px) {

    .demo {
        p {
            font-size: 50px
        }
    }

    .img-height {
        height: 300px;
    }
    .left {

        p {

            font-size: 16px;
        }
    }

    .right {

        p {

            font-size: 16px;
        }
    }
}